<style>
   body {
    background: #EEE9E9; 
    color: #9400D3; 
    margin: 20px;
	padding-left: 15px; 
	padding-right: 10px; 
	padding-top: 5px; 
	padding-bottom: 0;
   }
  </style>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
<title>???? ??????</title>
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<script src="/javascripts/cache/main.js?1370534670" type="text/javascript"></script>
<script type='text/javascript'>
  //<![CDATA[
    window.authenticity_token="8N6xr0OsiR2qysHMDrERYNhQJOmoYxQf01HJ3TEH3LU=";
  //]]>
</script>

