<!DOCTYPE html>
<html >
<head>
<%= render "header" %>

</head>
<body id='type-c'>
<%= render "logo" %>

<h1>Главная cтраница</h1>


 
<table>
<td>
</div>
<br style='clear:both' />
<div class='clear'></div>

<br style='clear:both' />
<div id='contents'>
<p>Выступления студентов гр.10361 по материалам выпускной квалификационной работы состоятся 22 апреля в ауд.1410, начало в 16:30.</p>
<p><a href="/files/48106-temy_i_rukovoditeli_rabot-14.pdf">Темы и руководители выпускных квалификационных работ</a></p>
Контрольные сроки:
26.02 &#8211; сдать оформленное задание (две подписи &#8211; своя и руководителя).
26.03 &#8211; показать Введение и 1 главу в бумажном виде.
23.04 &#8211; доклад (7 минут, 3 слайда).
13.06 &#8211; сдать работу и отзыв с подписью руководителя.
<h4>График выполнения выпускных квалификационных работ</h4>
<ul>
	<li><a href="/files/51700-diploms.pdf">Состояние на 26 марта</a></li>
</ul>

</div>

<div id='footer'>
<p>
&copy; ИВЦ МГИУ,
2008-2014.
</p>
</div>
</div>
</div>
</div>

</td>
</table>
</body>
</html>
